{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
    <title>Login</title>
</head>

<body>
    <div class="page-header">
        <h1>Blog</h1>

    </div>
    <div class="centered-form">
        <h1>Login</h1>

 
        <form action="." method="POST">
            {% csrf_token %}
            <label for="user">
                <h4>Username</h4>
            </label>
            </br>
            <input type="text" name="user" id="user" placeholder="User name">
            </br>
            <label for="password">
                <h4>Password</h4>
            </label>
            </br>
            <input type="password" name="password" id="password" placeholder="Password">
            </br>
            <input type="submit" value="Submit">
        </form>
        {% if error %}
        <p class="error">{{ error }}</p>
        <p> <a href="{% url 'loginapp:password_reset' %}">Reset password? </a></p>
        {% endif %}
        <a href="{% url 'loginapp:signup' %}">Dont have a user?</a>
    </div>
</body>

</html>