 <h1>Password reset</h1>
    
    <form action="{% url 'loginapp:password_reset'%}" method="POST">
        {% csrf_token %}
        <label for="user">Username</label>
        </br>
        <input type="text" name="user" id="user" placeholder="User name">
        </br>

        <input type="submit" value="Submit">
    </form>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}