{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
    <title>Sign up</title>
</head>

<body>
        <div class="page-header">
        <h1>Blog</h1> 
        </div>
        <div class="centered-form">
    <h1>Signup</h1>

    <form action="{% url 'loginapp:signup' %}" method="post">
        {% csrf_token%}
        <label for="user">Username</label>
        </br>
        <input type="text" name="user" id="user" placeholder="User name">
        </br>
        <label for="password">Password</label>
        </br>
        <input type="password" name="password" id="password" placeholder="Password">
        </br>
        <label for="repeat-password">Password</label>
        </br>
        <input type="password" name="repeat-password" id="reapeat-password" placeholder="Repeat password">
        </br>
        <input type="submit" value="Submit">

    </form>
</div>
</body>

</html>