{% load static %}

<head>
    <title>Edita's blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
</head>

<body>
    <div class="page-header">
        <h1><a href="{% url 'blogapp:post_list' %}">Blog</a></h1>
        <div class="top-menu-rigth">
            {% if user.is_authenticated %}
            <a href="{% url 'blogapp:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> {% endif %}
            <a href="{% url 'blogapp:userprofile' %}" class="top-menu">
                <h2>Profile</h2>
            </a>
            <a href="{% url 'loginapp:logout' %}" class="top-menu">
                <h2>Log out</h2>
            </a>
        </div>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %} 
                {% endblock %}
            </div>
        </div>
    </div>
</body>

