{% extends "blogapp/base.html" %} 
{% block content %}
<div class="post">
    {% if post.published_date %}
    <div class="date">

        {{ post.published_date }}
    </div>
    {% endif %} {% if post.user == user %}
    <a class="btn btn-default" href="{% url 'blogapp:post_edit' pk=post.pk %}"><span
            class="glyphicon glyphicon-pencil"></span></a> {% endif %}
    <h2>{{ post.title }}</h2>
     {% if post.image %}
            <img src="{{ post.image.url }}" alt="img" height="300" width="400"> 
            {% endif %}
    <p>{{ post.text|linebreaksbr }}</p>
</div>
{% endblock %}