 {% extends "blogapp/base.html" %} 
 {% load static %}

                {% block content %} {% for post in user_posts %}
                <div class="post">
                    <div class="date">
                        {{ post.published_date }}
                    </div>
                    <h2>
                        <a href="{% url 'blogapp:post_detail' pk=post.pk %}">{{ post.title }}</a>
                    </h2>
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="img" height="300" width="400"> {% endif %}
                    <p>{{ post.text | linebreaksbr }}</p>
                </div>
                {% endfor %} {% endblock %}
        